<div class="task">
    <div class="pin"></div>
    <div class="details">
        <h2>No tasks exist!</h2>
        <p class="small">Pull down to start adding tasks.</p>
    </div>
	<div class="responsible">You</div>
</div>

