<div class="task">
    <div class="pin"></div>
    <div class="details">
        <h2>Write the twitter connector.</h2>
        <p class="small">Started January 2</p>
    </div>
    <div class="receipt">
        <ul>
            <li>
                <div class="item">Development:</div>
                <div class="cost">3 Days</div>
            </li>
            <li>
                <div class="item">Design:</div>
                <div class="cost">9 Days</div>
            </li>
        </ul>
        <div class="total">
            <div class="item">Total:</div>
            <div class="cost good">12 Days</div>
        </div>
    </div>
    <div class="responsible">Merrick Christensen</div>
</div>

