<div class="task">
    <div class="pin"></div>
    <div class="details">
        <h2>{{description}}</h2>
        <p class="small">Started {{started}}</p>
    </div>
    <div class="receipt">
        <ul>
			{{#items}}
			<li>
				<div class="item">{{name}}</div>
				<div class="cost">{{started}}</div>
			</li>
			{{/items}}
        </ul>
        <div class="total">
            <div class="item">Total:</div>
            <div class="cost good">12 Days</div>
        </div>
    </div>
    <div class="responsible">Merrick Christensen</div>
</div>

